* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #f9f9f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 20px;
}
